:root {
    --colour-background: blanchedalmond;
    --colour-highlight: #8b4513;
    --colour-select: mediumseagreen;
    --font-heading: "IBM Plex Mono", "PingFang SC", sans-serif;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: var(--colour-background);
    margin: 0;
}

header {
    background-color: var(--colour-highlight);
    padding: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--colour-background);
    text-decoration: none;
    font-family: var(--font-heading);
}

nav a:hover {
    color: var(--colour-select);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 100px;
}

hr {
    border: none;
    border-top: 5px solid var(--colour-highlight);
    margin: 40px;
}

h1 {
    font-size: 3rem;
    font-family: var(--font-heading);

    color: var(--colour-highlight);
    text-align: center;
    border: 2px solid black;
}

h2 {
    font-size: 1.5rem;
    font-family: var(--font-heading);

    color: var(--colour-highlight);
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 2rem;
    font-family: var(--font-heading);
}

ul {
    font-size: 1.5rem;
    font-family: var(--font-heading);
}

footer {
    text-align: center;
    background-color: var(--colour-highlight);
    padding: 20px;
    margin-top: 20px;
}

footer p {
    font-size: 0.8rem;
    color: var(--colour-background);
}

.extra-margin{
    margin-top: 100px;
}

.btn {
    background-color: var(--colour-background);
    color: var(--colour-highlight);
    padding: 6px 24px;
    border: 3px solid var(--colour-highlight);
    font-size: 16px;
    font-family: var(--font-heading);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--colour-select);
}

.btn:active {
  transform: scale(0.98);
}

.big_pic {
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 20px auto;
    border: 8px solid var(--colour-highlight);
}

#cat {
    position: fixed;

    width: 32px;
    height: 32px;
    background-image: url(images/cat_frames/black_2.png);
    background-repeat: no-repeat;

    transform: scale(2);

    pointer-events: none;
}

.post-thumbnail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 5px solid var(--colour-highlight);
    padding: 15px;
    margin-bottom: 15px;

    text-decoration: none;
}

.post-thumbnail img {
    width: 150px;
    height: 150px;
    object-fit: cover;

    border: 5px solid var(--colour-highlight);
}

.post-thumbnail h2 {
    font-size: 2rem;
    text-align: left;
    margin: 0px;
}

.post-thumbnail p {
    font-size: 1rem;
    color: #000;
    margin: 10px 0 10px 0;
}

.post-thumbnail .date {
    font-size: 1rem;
    color: gray;
}